.chat {
    position: relative;
}

.chat-block {
    position: absolute;
    right: 0;
    top: 100px;
}

.chat-btn {
    position: relative;
    margin-left: -30px;
}

.chat-btn-outer {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50px;
    top: 100px;
    /* z-index: 1; */
}

.chat-btn-inner {
    position: absolute;
    left: 4px;
    top: 4px;
}

.chat-btn-inner>img {
    width: 20px;
    height: 20px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes example {
    0%   {transform: rotate(0deg); transition: transform 1s}
    25%  {transform: rotate(100deg); transition: transform 1s}
    50%  {transform: rotate(200deg); transition: transform 1s}
    75%  {transform: rotate(300deg); transition: transform 1s}
    100% {transform: rotate(350deg); transition: transform 1s}
}

.invert {
    filter: invert(100%);
}

.chat-main {
    border: 1px solid yellow;
    margin-right: -334px;
    background-color: #DDE4E4;
    width: 333px;
    z-index: 1;
    position: relative;
}

.chatbox-header {
    margin-top: 5px;
    background-color: #EF4647;
    color: white;
    padding:10px;
    display: flex;
    align-items: center;
}

.chatbox-back-arrow {
    width: 20px;
}

.chatbox-back-arrow>img {
    width: 20px;
}

.greyscale {
    filter: grayscale(100%);
}

.user-section {
    display: flex;
    align-items: center;
    width: 95%;
}

.user-logo {
    width: 40px;
    padding-left: 10px;
}

.user-section >.user-logo >.user-img {
    border-radius: 50px;
    width: 40px;
}
.user-name {
    padding-left: 15px;
    width: 87%;
}

.chat-content {
    margin: 5px;
    width: 100%;
    height: 402px;
    overflow: auto;
    overflow-x: hidden;
}

.chat-left-user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px 5px 5px;
}

.chat-left-user-img {
    width: 40px;
    position: relative;
}

.chat-left-user-img:after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ffffff;
    content: '';
    position: absolute;
    top: 25%;
    left: 100%;
}

.chat-left-user-img> img {
    border-radius: 50%;
    width: 40px;
}

.chat-left-content {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    word-wrap: break-word;
}

.left-message {
    word-break: break-word;
}

.chat-left-time {
    float: right;
    font-size: 10px;
    color: gray;
    padding-left: 20px;
}

.chat-right-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 10px 5px 5px;
}

.chat-right-content {
    background-color: #4565A0;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px;
    color: white;
    word-break: break-word;
}

.right-message {
    word-break: break-word;
}

.chat-right-time {
    float: right;
    font-size: 10px;
    color: gray;
    padding-left: 20px;
}

.chat-right-user-img {
    width: 40px;
    position: relative;
}

.chat-right-user-img:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #4565A0;
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
}

.chat-right-user-img >img{
    border-radius: 50%;
    width: 40px;
}

.divider {
    border: 1px solid #EF4647;
}

.comment-block {
    display: flex;
    width: 100%;
    height: 70px;
    padding-top: 20px;
    background-color: white;
}

.comment-textarea-block {
    width: 85%;
    position: relative;
}

.textarea {
    width: 100%;
    position: relative;
}

.textarea-in {
    outline: none;
    border: none;
    width: 100%;
    padding-left: 10px;
    position: absolute;
}

.textarea-label {
    position: absolute;
    left: 10px;
}

.comment-image-div {
    width: 15%;
}

.comment-inner-image {
    width: 45px;
    height: 45px;
}

/*****************************chat conversion*******************/

.ch-conv-main {
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: -1;
}

.main-divider:before {
    content: '';
    position: absolute;
    border: 1px solid #F04847;
    height: calc(100% - 40px);
    left: 140px;
    z-index: -2;
    top: 32px;
}

.main-divider:after {
    content: '';
    position: absolute;
    border: 4px solid #F04847;
    left: 137px;
    bottom: 0;
    border-radius: 50%;
    z-index: -1;
 }

.ch-conv-parent {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.ch-conv-user {
    width: 20%;
}

.ch-conv-parent-user-ul {
    list-style: none;
    position: relative;    
    margin-left: 60px;
}

.ch-conv-parent-user-ul>li {
    width: 75px;
    height: 75px;
    border: 2px solid #F04847;
    border-radius: 3px;
    position: relative;
}

.ch-conv-parent-user-ul>li:after {
    content: '';
    position: absolute;
    border-width: 10px 0 10px 10px;
    border-style: solid;
    border-color: transparent #F04847;
    top: 4px;
}

.ch-conv-msg {
    width: 90%;
    background-color: #4565A0;
    color: white;
    border-radius: 5px;
}

.ch-conv-msg-head {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 5px;
}

.ch-conv-divider {
    border-top: 1px solid white;
}

.msg-head-datTime {
    background-color: white;
    color: #8298BF;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 12px;
    height: 15px;    
}

.ch-conv-msg-body {
    padding: 5px 20px 5px;
}

/**************child****************/

.ch-conv-child {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.ch-conv-user-child {
    width: 25%;
}

.ch-conv-child-user-ul {
    list-style: none;
    position: relative;    
    margin-left: 160px;
}

.ch-conv-child-user-ul:before {
    content: '';
    position: absolute;
    width: 50%;
    display: block;
    border: 1px solid #F04847;
    left: -23px;
    top: 25px;
}

.ch-conv-child-user-ul>li {
    width: 50px;
    height: 50px;
    border: 2px solid #F04847;
    border-radius: 3px;
    position: relative;
}

.ch-conv-child-user-ul>li:after {
    content: '';
    position: absolute;
    border-width: 7px 0 7px 7px;
    border-style: solid;
    border-color: transparent #F04847;
    top: 4px;
}

.ch-conv-child-msg {
    width: 75%;
    background-color: #BAD2FF;
    color: #5B6C87;
    border-radius: 5px;
}

.child-datTime-color {
    color: #939393;
}