.meta-header-block {
    color: #EF4647;
    border-bottom: 2px solid #EDECEC;
}

.meta-head {
    padding: 13px 0;
    font-size: 20px;
    text-align: left;
    display: inline-block;
}

.meta-button {
    width: 50px;
    height: 50px;
    background-color: #EF4647;
    border-radius: 100%;
    float: right;
    text-align: center;
}

.meta-button>span {
    color: white;
    line-height: 2.5;
    font-size: 20px;
}

/*********************************logo**********************************/

.meta-logo-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.logo-common-block {
    display: flex;
    flex-direction: row;
}

.logo-common {
    width: 50px;
    height: 50px;
    border: 2px solid #627DAE;
    background-color: white;
    border-radius: 50px;
}

.logo-border {
    border-bottom: 2px solid #627DAE;
    width: 25px;
    height: 25px;
}

.logo-symbol {
    font-family: monospace;
    font-size: 20px;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-title {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    color: #627DAE;
}

/******************************************meta-field-main-block************************/

.meta-field-main-block {
    margin-top: 40px;
}

.meta-field-left-block {
    width: 50%;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 10px;
    position: relative;
}

.left-field-common {
    width: 94%;
    position: relative;
    padding-top: 20px;
    margin: 20px;
}

.left-field-common>input {
    width: 100%;
    position: absolute;
    bottom: left;
    border: none;
    outline: none;
    border-bottom: 1px solid #627DAE;
}

.business>.business-type {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 200px;
    border: 1px solid grey;
    border-bottom: none;
    overflow: auto;
    overflow-x: hidden;
    bottom: 23px;
}

.business>.business-type>.business-options {
    padding: 10px
}

.business>.business-downArrow {
    position: absolute;
    right: 0;
    font-size: 10px;
}

.business-close {
    position: absolute;
    right: 25px;
    font-size: 10px;
    bottom: -32px;
    display: none;
}

.left-field-common>.left-field-inner-common {
    position: absolute;
    top: 15px;
    color: #627DAE;
}

