.rmDetails-main-block {
    margin: 20px auto;
}

.rmDetails-card {
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 1px -1px beige;
}

.rm-card-header {
    background-color: #DBE2EF;
    display: flex;
    width: 100%;
    position: relative;
    border: 20px solid #DBE2EF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.rm-card-flag {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rm-card-flag-icon {
    position: absolute;
    border: 2px solid #4565A0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.rm-card-flag-icon >img {
    width: 40px;
    height: 30px;
}

.rm-card-flag-name {
    position: absolute;
    text-transform: uppercase;
    color: #4565A0;
    top: 30px;
}

.rm-card-data {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

.rm-card-data-row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gainsboro;
    padding: 5px;
    align-items: center;
}

.rm-card-data-row:hover {
    background-color: #EF4647;
    color: white;
    cursor: pointer;
}

.rm-card-data-row-name {
    font-weight: bold;
}

.rm-card-data-row-flag {
    width: 40px;
    height: 25px;
}